.upload-container{
    
    border: 2px solid darkorange;
    background-color: beige;

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;    
    margin-top:3rem;
    margin-left: 2.5rem;
    & label{
        margin-bottom: 1rem;

        & textarea{
            border: 2px solid darkorange;
            vertical-align: middle;
            margin-left:1rem; 

        }
        & input{
       border: 2px solid darkorange;
       margin-left:4rem; 
       height:5vh;

        }
    }

    & button{
        background-color: red;
        border-radius: 30px;
        padding: 0.5rem;
        margin: 1rem;
        border: white 2px solid;
        color: aliceblue;
        font-weight: bold;  
        align-self: center;  
    }
    }
}

.upload{
    
    &__img{
    background-color: red;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 1rem;
    border: white 2px solid;
    color: aliceblue;
    font-weight: bold;
    }
    
    &__instruction{
        width:50vw;
        height:50vh;
        white-space: pre-wrap;
    }
    &__ingredients{ 
        white-space: pre-wrap;
    }
}